{% extends "bootstrap/base.html" %}
{% import "bootstrap/wtf.html" as wtf %}
{% block title %}
Login
{% endblock %}
 
{% block content %}
<div class="container"> 
	<h1>Signup</h1>
	<form method="POST" action="/signup/">
		<d1>
			{{ form.csrf_token }}
			{{ wtf.form_field(form.name) }}
			{{ wtf.form_field(form.username) }}
			{{ wtf.form_field(form.email) }}
			{{ wtf.form_field(form.password) }}
			<input class="btn btn-primary" type="submit" value="Signup">
		</d1> 
	</form>
</div>

{% endblock %}

